.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import '~antd/dist/antd.css';

.login-form {
  max-width: 300px;
  display: inline-block;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-form-input{
  width: 80%;
}

.create-form-input__search{
  width: 50%;
}

.register-form{
  display: flex;
  flex-direction: column;
}

.split-menu{
  display: flex;
  justify-content: space-between;
  
}

.tags{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
}

.tags__select{
  width: 40%;
}

.profile{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile__avatar{
  display: flex;
  flex-direction: column;
  margin: 2em 1em 2em 1em;
  padding: 2em 2em 2em 2em;
  width: 30%;
  height: 25em;
  background-color: aliceblue;
  align-content: center;
  justify-content: space-around;
}
.profile__info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2em 1em 2em 1em;
  width: 56%;
  height: 28em;
  color: darkblue;
  font-size: 18px;
}

.profile__info--tittle{
  font-size: 28px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  align-self: center;
}

.profile__info--item{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 0px 5px 0px;
  flex-wrap: wrap;
}

.profile__info--item--label{
  display: flex;
  justify-content: left;
  width: 20%;
}

.profile__info--item--data{
  display: flex;
  justify-content: left;
  width: 80%;
}

.profile__info--button{
  display: flex;
  flex-direction: column;
  align-self: center;
}
